.input{
  width: 100%;
}

.module-form-input{
  width: 100%;
  font-size: 100%;
}

.course-form-input{
  width: 100%;
  font-size: 100%;
}

.evaluationInput{
  width: 44%;
}

.evaluationInput:first-child{
  padding-left: 24px;
}

.tableHead{
  width: 47%;
}
