<div class="dialog_header">
  <h1 mat-dialog-title>Hi User</h1>
  <button mat-icon-button (click)="onClose()">
    <mat-icon matSuffix>clear</mat-icon>
  </button>
</div>
<br/>
<div mat-dialog-content class="dialog_content">
  <div>
    <p>Anzeigename:</p>
    <mat-form-field appearance="legacy">
      <input matInput>
      <mat-label></mat-label>
    </mat-form-field>
  </div>
  <div>
    <p>Email-Adresse:</p>
    <mat-form-field appearance="legacy">
      <input matInput placeholder="Placeholder">
      <mat-label></mat-label>
    </mat-form-field>
  </div>
  <div>
    <p>Hochschule:</p>
    <mat-form-field appearance="legacy">
      <input matInput placeholder="Placeholder">
      <mat-label></mat-label>
    </mat-form-field>
  </div>
  <div>
    <p>Rolle:</p>
    <mat-form-field appearance="legacy">
      <input matInput placeholder="Placeholder">
      <mat-label></mat-label>
    </mat-form-field>
  </div>
</div>
