.spacer {
  flex: 1 1 auto;
}

.dialog_header{
  display: flex;
  justify-content: space-between;
}

.dialog_content{
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.img-responsive {
  height: auto;
  width: auto;
  max-height: 50px;
  max-width: 50px;
}
