<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile>
    <mat-card>
      <mat-card-header>
        <mat-card-title>Klausur erstellen</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!--Input Titel der Klausur-->
        <p>Titel*</p>
        <input type="text">
        <!-- Modul Input (Soll Value aus Component 'create-exam-overview' anzeigen) -->
        <p>Modul*</p>
        <input type="text">

        <!--Input Gesamtpunkte-->
        <p>Gesamtpunkte*</p>
        <input size='3' type="number" required maxlength="3">

        <!--Input Gesamtpunkte: Hier sollen die aktuell mit aufgaben vergebenen Punkte aufsummiert werden-->
        <p>Bisher vergebene Punkte</p>
        <input size='3' type="number">

        <!-- Fortschrittsbalken für vergebene Punkte im Verhätnis zu Gesatmpunkte-->
        <p>Fortschritt</p>
        <mat-progress-bar value="50"></mat-progress-bar>
      </mat-card-content>
    </mat-card>

  </mat-grid-tile>
  <mat-grid-tile>

<mat-card>
  <mat-card-header>
    <mat-card-title>
      Fragen
    </mat-card-title>

  </mat-card-header>

  <mat-card-content>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Fragen
        </mat-panel-title>

      </mat-expansion-panel-header>
      <mat-action-row *ngFor="let question of questions">
      <mat-panel-description> {{question.questionName}} </mat-panel-description>
      <mat-panel-description> {{question.questionPoints}}</mat-panel-description>

      </mat-action-row>
      <mat-action-row>
        <button type="button" mat-flat-button (click)="openDialog()">Frage hinzufügen</button>
      </mat-action-row>


    </mat-expansion-panel>
  </mat-card-content>



</mat-card>
  </mat-grid-tile>

  <mat-grid-tile>3</mat-grid-tile>
  <mat-grid-tile>4</mat-grid-tile>

</mat-grid-list>

