<h2 style="text-align: center">Exam starten</h2>
<mat-card class="content-card" style="width: auto" *ngIf="questionPoints!=exam.totalPoints">
  <h3 style="text-align: center">Warnung! Die Punkte der Klausur entspricht nicht der Summe der Punkte für Fragen.</h3>
  <h4 style="text-align: center">Die erreichbaren Punkte für die Klausur wird auf {{questionPoints}} Punkte gesetzt.</h4>
</mat-card>

<br><br>

<h3>LSF-Import</h3>
<ngx-file-drop dropZoneLabel="Drop files here" (onFileDrop)="droppedFile($event)" *ngIf="!uploaded">
  <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
    LSF Exel Export hier ablegen oder importieren
    <button id="selectFileButton" mat-raised-button class="infoHeaderButton" style="margin-left: 5%" (click)="openFileSelector()">Datei Auswählen</button>
  </ng-template>
</ngx-file-drop>

<div *ngIf="uploaded">
  <mat-list role="list" >
    <mat-list-item role="listitem" class="studentList">Matr.Nr.| Studiengang kürzel</mat-list-item>
    <mat-list-item role="listitem" class="studentList" *ngFor="let student of students">{{student.matrNumber}} | {{student.courseShortName}}</mat-list-item>
  </mat-list>
  <br>
  <button mat-raised-button class="infoHeaderButton" color="warn" style="margin-top: 2%" (click)="startExam()">Prüfung starten</button>
</div>

