<h1 mat-dialog-title>Create Exam</h1>
<div mat-dialog-content>
  <p>Please insert an name</p>
<mat-form-field>
  <mat-label>Module</mat-label>
  <mat-select>
    <mat-optgroup label="Wirtschaftsinfromatik">
      <mat-option value="Mathe1">Mathe1</mat-option>
      <mat-option value="Mathe2"> Mathe2</mat-option>
      <mat-option value="Statistik"> Statistik</mat-option>

    </mat-optgroup>
<mat-optgroup label="IT">
  <mat-option value="Prog1"> Prog1 </mat-option>
  <mat-option value="WIProjekt">WIProjekt</mat-option>

</mat-optgroup>

  </mat-select>

</mat-form-field>

</div>
<div>

</div>
<div> <button mat-stroked-button> save </button> <button mat-stroked-button >No Thanks</button></div>


