.checkbox-div {
  vertical-align: middle;
  float: left;
}

.content-div {
  margin-left: 3%;
  float: left;
}

/* Clear floats after the columns */
.row-hoizontal:after {
  content: "";
  display: grid;
  clear: both;
}

.card-content{
  display: flex;
  flex-direction: column;
}

.header-accordion{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  justify-content: space-between;

}

.checkboxAndCardContainer{
  display: flex;
  justify-content: start;
  align-items: center;
}

.checkboxCard{
  width: 100%;
  margin-left: 0.7%;
}

.mat-expansion-panel:first-of-type{
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

.checkboxAndCardContainer{
  display: flex;
  justify-content: start;
  align-items: center;
}

.checkboxCard{
  width: 100%;
  margin-left: 0.7%;
}

.mat-expansion-panel:first-of-type{
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
}
