<app-navbar></app-navbar>
<mat-card>
  <mat-card-title>Fragenpool: {{this.module.definition}}</mat-card-title>
  <mat-card-subtitle>Verwalten Sie hier Ihre {{this.module.definition}}-Fragen. Bearbeiten, löschen oder hinzufügen.
  </mat-card-subtitle>
  <mat-card-content>
    <mat-card class="content-card">
      <mat-card-content class="card-content">
        <mat-card class="row header-accordion">
          <mat-card class="tile" style="width:25%;" (click)="createQuestion()">
            <mat-card-title>
            <span mat-align-tabs="center" class="material-icons centerIcon" style="font-size: 25pt">
              add_circle
            </span>
            </mat-card-title>
            <mat-card-subtitle style="text-align: center;">
              Neue Frage hinzufügen
            </mat-card-subtitle>
          </mat-card>
          <mat-card class="tile" style="width:25%;"(click)="deleteSelection()">
            <mat-card-title>
            <span mat-align-tabs="center" class="material-icons centerIcon" style="font-size: 25pt">
              delete
            </span>
            </mat-card-title>
            <mat-card-subtitle style="text-align: center;">
              Auswahl löschen
            </mat-card-subtitle>
          </mat-card>
        </mat-card>

        <mat-accordion>
          <mat-expansion-panel *ngFor="let questionCategory of questions | groupBy: 'category'">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{questionCategory.key}}
              </mat-panel-title>
              <mat-panel-description>
                Anzahl Fragen: {{questionCategory.value.length}}
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-card *ngFor="let question of questionCategory.value " style="background: #f5f5f6; margin-bottom: 0.7%;">
              <div class="checkboxAndCardContainer">
                <section>
                  <mat-checkbox (change)="checkboxChanged(question)">
                  </mat-checkbox>
                </section>
                <mat-card class="checkboxCard">
                  <mat-card-title>
                    <div class="questionName">
                      {{question.questionName}}
                      <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="hideQuestion(question)">accessible_forward</mat-icon>
                    </div>
                  </mat-card-title>
                  <mat-card-subtitle>
                    {{question.shortName}}
                  </mat-card-subtitle>
                  <mat-card-content>
                    <p [innerHTML]="question.questionText"></p>
                  </mat-card-content>
                </mat-card>
              </div>
            </mat-card>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
