<div class="container">
  <h1>Neue Frage erstellen</h1>
  <mat-form-field class="input question-form-input">
    <mat-label>Frage Name</mat-label>
    <input matInput type="text" [(ngModel)]="questionName">
    <button mat-button *ngIf="questionName" matSuffix mat-icon-button aria-label="Clear" (click)="questionName=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <br>

  <mat-form-field class="input shortQuestion-form-input">
    <mat-label>Frage Kurzname</mat-label>
    <input matInput type="text" [(ngModel)]="shortName">
    <button mat-button *ngIf="shortName" matSuffix mat-icon-button aria-label="Clear" (click)="shortName=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <br>

  <mat-form-field class="input shortQuestion-form-input">
    <mat-label>Frage Text</mat-label>
    <input matInput type="text" [(ngModel)]="questionText">
    <button mat-button *ngIf="questionText" matSuffix mat-icon-button aria-label="Clear" (click)="questionText=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <br>

  <mat-form-field class="input shortQuestion-form-input">
    <mat-label>Punkteanzahl</mat-label>
    <input matInput type="text" [(ngModel)]="questionPoints">
    <button mat-button *ngIf="questionPoints" matSuffix mat-icon-button aria-label="Clear" (click)="questionPoints=null">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <br>

  <mat-form-field class="input shortQuestion-form-input">
    <mat-label>Kategorie</mat-label>
    <input matInput type="text" [(ngModel)]="category">
    <button mat-button *ngIf="category" matSuffix mat-icon-button aria-label="Clear" (click)="category=null">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>

  <mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close>Abbrechen</button>
    <button mat-flat-button (click)="writeQuestion()" color="primary">Erstellen</button>
  </mat-dialog-actions>
</div>
