<div class="top">
  <h1 class="frage">Was möchten sie wählen?
  </h1>
</div>

<div class="mid">
<button class="buttons" (click)="klausurErstellenNav()" color="primary" id="1" mat-flat-button type="button">  Klausur erstellen </button>
<button class="buttons" (click)="klausurKorrigierenNav()" color="primary" id="2" mat-flat-button type="button"> Klausur korrigieren </button>
<button class="buttons" (click)="archivierteKlausurenNav()" color="primary" id="3" mat-flat-button type="button"> Archivierte Klausuren</button>
<button class="buttons" (click)="fragenHinzufuegenNav()" color="primary" id="4" mat-flat-button type="button"> Fragen hinzufügen </button>
  </div>

<div class="bot">
<h2 class="news_title">SP NEWS  </h2>
<textarea class="news_text">lalelu lalelu lalelu lalelu lalelu lalelu lalelu lalelu</textarea>
  </div>
