<app-navbar></app-navbar>
<mat-card>
  <mat-card-content>
    <mat-card class="content-card">
      <mat-grid-list cols=5>
        <mat-grid-tile>
          <mat-card id="createExamButton" class="tile" (click)="createExam()">
            <mat-card-title>
              Klausur erstellen
            </mat-card-title>
            <mat-card-subtitle class="tileSubtitle">Hier können Sie eine neue Prüfung erstellen</mat-card-subtitle>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card id="correctExamButton" class="tile" (click)="correctExam()">
            <mat-card-title>
              Klausur korrigieren
            </mat-card-title>
            <mat-card-subtitle class="tileSubtitle">Beginnen Sie mit der Korrektur von vorliegenden Klausuren
            </mat-card-subtitle>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card id="archiveExamButton" class="tile" (click)="archiveExam()">
            <mat-card-title>
              Archivierte Klausuren
            </mat-card-title>
            <mat-card-subtitle  class="tileSubtitle">Hier finden Sie Ihre archivierten Klausuren</mat-card-subtitle>
          </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card id="addQuestionButton" class="tile" (click)="addQuestions()">
            <mat-card-title>
              Fragen hinzufügen
            </mat-card-title>
            <mat-card-subtitle  class="tileSubtitle">Fügen Sie neue Fragen Ihrem Fragenpool hinzu</mat-card-subtitle>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
  </mat-card-content>

</mat-card>


<p class="copyright">
  <label class="copyrigt_text">© SP GmbH, 2020 </label>
</p>
