<app-navbar></app-navbar>
<mat-form-field style="width:100%; margin-top: 10px;">
  <mat-label>Klausurname</mat-label>
  <input matInput input="text" [(ngModel)]="exam.title" (ngModelChange)="exam.title = $event" class="examTitleInput">
</mat-form-field>

<mat-card>
  <mat-card-content>
    <mat-grid-list cols="3" rowHeight="7:1">
      <mat-grid-tile>
        <mat-form-field class="infoHeaderInput">
          <mat-label>Gesamtpunkte</mat-label>
          <input matInput type="number" min="0" [(ngModel)]="exam.totalPoints"
                 (ngModelChange)="exam.totalPoints = $event">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="infoHeaderInput">
        <mat-label>Studiengang</mat-label>
        <mat-select [(value)]="selectedModule">
          <mat-option *ngFor="let module of availableModules" value="{{JSON.stringify(module)}}">{{module.definition}}</mat-option>
        </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="infoHeaderInput">
          <mat-label>Datum der Klausur</mat-label>
          <input matInput [matDatepicker]="examDatePicker" [formControl]="dateOfExam">
          <mat-datepicker-toggle matSuffix [for]="examDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #examDatePicker></mat-datepicker>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <div style="padding: 0 2.5% 0 2.5%; width: 100%">
          <p class="bar-header">Verwendete Punkte</p>

          <!-- Progress Bar soll prozentuele Abhänigkeit zu Gesamtpunkte darstellen -- currentPercentage = (currentPoints/maxPoints)*100-->
          <mat-progress-bar mode="determinate" value="{{currentExamPoints/exam.totalPoints*100}}"></mat-progress-bar>
        </div>

      </mat-grid-tile>

      <mat-grid-tile></mat-grid-tile>

      <mat-grid-tile>
        <!-- Buttons Vorschau + Speichern + Verwerfen: Pop-ups für Speichern + Verwerfen?! -->
        <button mat-raised-button class="infoHeaderButton">Vorschau</button>
        <button mat-raised-button class="infoHeaderButton" (click)="saveExam()">Speichern</button>
        <button mat-raised-button class="infoHeaderButton" color="warn" (click)="deleteExam()">Verwerfen</button>
      </mat-grid-tile>
    </mat-grid-list>

  </mat-card-content>
</mat-card>

<mat-card class="content-card" style="margin-top: 5px;">
  <mat-card-content>
    <!-- Mid layer 3 cols: Fragenpool, Klausur, Preview?-->
    <mat-grid-list cols=3>

      <mat-grid-tile>
        <div class="examCreatorWrapperDiv">
          <mat-card>
            <mat-card-title>Fragenpool</mat-card-title>
            <mat-card-content>
              <div cdkDropListGroup *ngFor="let questionsByCategory of questionPoolByCategory">
                <div
                  cdkDropList
                  cdkDropListSortingDisabled
                  id="{{questionsByCategory[0].questionName}}"
                  [cdkDropListData]=questionsByCategory
                  [cdkDropListConnectedTo]="[examList]"
                  class="question-drag-n-drop-list"
                  (cdkDropListDropped)="drop($event)">
                  <div cdkDrag [cdkDragDisabled]="question.questionId == -1"
                       *ngFor="let question of questionsByCategory">
                    <div class="question-holder-disabled"
                         *ngIf="question.questionId == -1">{{question.questionName}}</div>
                    <mat-expansion-panel *ngIf="question.questionId != -1">
                      <mat-expansion-panel-header>
                        <mat-panel-title id="{{question.questionName}}">
                          {{question.questionName}}
                        </mat-panel-title>
                        <mat-panel-description>
                          {{question.shortName}}
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                      <p [innerHTML]="question.questionText"></p>
                    </mat-expansion-panel>
                  </div>
                </div>
              </div>


              <!-- anderung -->

            </mat-card-content>
          </mat-card>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="examCreatorWrapperDiv">
          <mat-card>
            <mat-card-title >Klausur</mat-card-title>

            <div
              id="questionDropList"
              cdkDropList
              #examList="cdkDropList"
              [cdkDropListData]="examContent"
              [cdkDropListConnectedTo]='questionCategories'
              class="question-drag-n-drop-list"
              (cdkDropListDropped)="drop($event)"
            >
              <div cdkDrag
                   *ngFor="let question of examContent">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{question.questionName}}
                    </mat-panel-title>
                    <mat-panel-description>
                      {{question.shortName}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p [innerHTML]="question.questionText"></p>
                </mat-expansion-panel>
              </div>
            </div>
          </mat-card>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="examCreatorWrapperDiv">
          <mat-card style="height: 90%;">
            <mat-card-title>Vorschau</mat-card-title>
            <mat-card-content></mat-card-content>
          </mat-card>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>
